* {
    padding: 0%;
    margin: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Space+Mono&display=swap');
 {

    .section-head header {
        font-family: 'Inconsolata',
            monospace;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.08em;
        word-spacing: 0.1em;
        position: absolute;
        height: 25px;
        width: 133px;
        left: 77px;
        top: 40px;
        color: #333333;
    }

    .section-body .image img {
        float: left;
        display: block;
        width: 35vw;
        height: 30vw ;
        position: absolute;
        left: 5.35%;
        right: 57.21vw;
        top: 24.54vh ;
        bottom: 34.03%;
    }

    .main-body {
        position: relative;
        /* float: left; */
        width: 40vw;
        top: 14.5vh;
        left: 45vw;
    }

    .main-body h1 {
        width: 30vw;
        font-size: 4vw;
        font-family: 'Space Mono',
        monospace;
    }

    .main-body p {
        padding: 5vw 10px 5vw 0;
        font-size: 1.5vw;
        font-family: 'Space Mono',
            monospace;
        width: 30vw;
        height: 108px;
        color: #333;
        word-spacing: 2.3px;
    }

    .btn {
        background-color: rgba(0, 0, 0, 0.85);
        position:relative;
        top: -3vw;
        padding: 15pt 10pt;
        width: fit-content;
        font-size: 10px;
        word-spacing: 5px;
        text-transform: uppercase;
        color: #fff;
    }

    .section-foot {
        position: absolute;
        bottom: 0;
        width: 100vw;
        font-family: 'Montserrat',
        sans-serif;
        font-style: normal;
        text-align: center;
        padding: 1.4em 0;
        width: 100vw;
        color: #aaa;
    }

}

@media only screen and (max-width:350px) {
    .section-head header{
        position: absolute;
        width: 163px;
        height: 25px;
        left: 28px;
        top: 25px;
        font-family: 'Inconsolata', monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 1.1em;
        line-height: 2px;
        letter-spacing: -1.5px;
        text-transform: uppercase;
        color: #333333;
    }
    .section-body .image img{        
        position: absolute;
        top: 100px;
        left: 30vw;
        right: 30vw;
        width: 30vw;
    }
    .main-body {
        position: absolute;
        width: 80vw;
        height: 20vh;
        top: 20vh;
    }
    .main-body h1{
        position: relative;
        width: 80vw;
        height: fit-content;
        text-align: left;
        top: 24vw;
        left: 1%;
        padding: 6px;
        font-family: 'Space Mono',
        monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 10vw;
        letter-spacing: -0.035em;
        color: #333333;
    }
    
    .main-body p{
        position: relative;
        width: 80vw;
        align-self: center;
        justify-content: center;
        height: fit-content;
        left: 2vw;
        top: 30vw;
        font-family: 'Space Mono', monospace;
        font-style: normal;
        font-weight: normal;
        font-size: 5vw;
        line-height: 27px;
        letter-spacing: -0.035em;
        color: #4F4F4F;
    }
    .btn{
        position: relative;
        width: fit-content;
        height: fit-content;
         font-family: 'Space Mono',
         monospace;
        left: 2vw;
        padding: 10pt 15pt;
        top: 40vw;
        color:#fff ;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        background-color:#333 ;
    }
    .section-foot{
        position: absolute;
        bottom: 1%;
        font-family: 'Montserrat',
        sans-serif;
        font-style: normal;
        text-align: center;
        font-size: 10px;
        width: 100vw;
        height: fit-content;
        color: #aaa;
        
    }
}
